.footer{
	 position: fixed;
 	 left: 0;
 	 bottom: 0;
  	 width: 100%;
 	 background-color: red;
 	 color: white;
 	 text-align: center;
}
.footer li{
	list-style: none;
	display: inline-block;
		
}

.footer a{
	text-decoration: none;
}
